<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles-about-us.css">
    <title>ProAvail-About Us</title>
</head>
<body>
    {{>header_about}}
    <div class="background">
        <img src="Images/about-us-background-image.png" alt="background" width="650px">
        <div class="content">
            <h1><span>WHAT</span> do we do?</h1>
            <hr width=60px; size="4px" align="center" noshade="noshade" color="#41a291">
            <p>Our website provides a platform that helps customer to connect to various required services by just sitting at the comfort of their home.It is an Indian based project founded by group of aspirants with consideration to put our country in more comfort zone.</p>
        </div>
    </div> 
    <div class="hdwd">
        <h1><span>HOW</span> do we do?</h1>
        <hr width=60px; size="4px" align="center" noshade="noshade" color="#30d5c8">
        <div class="how">
            <p class="step1"><span>STEP</span> 1</p>
            <p class="step1c">Select the service from all the different available options on our website that you require</p>
            <img src="how-graphics/1.png" alt="" class="step1g" width="120px">
            <img src="how-graphics2/1.png" alt="" class="line1" width="1000px">
            <p class="step2"><span>STEP</span> 2</p>
            <p class="step2c">Select from the registered professionals as per your convenience</p>
            <img src="how-graphics/2.png" alt="" class="step2g" width="120px">
            <img src="how-graphics2/2.png" alt="" class="line2" width="1000px">
            <p class="step3"><span>STEP</span> 3</p>
            <p class="step3c">Contact the professional through the contact details provided on our website</p>
            <img src="how-graphics/3.png" alt="" class="step3g" width="120px">
        </div>
    </div>
    <div class="why">
        <h1><span>WHY</span> choose us?</h1>
        <hr width=60px; size="4px" align="center" noshade="noshade" color="#dcc7aa">
        <div class="why-content">
            <div class="f1">
                <div class="img">
                    <img src="why-graphics/1.png" alt="" width="80px">
                </div>
                <div class="con">
                    <p class="con-h">We find the best people for you</p>
                    <p class="con-p">You can trust the smart and talented Providers, who have been thoroughly verified</p>
                </div>
            </div>
            <div class="f2">
                <div class="img">
                    <img src="why-graphics/2.png" alt="" width="80px">
                </div>
                <div class="con">
                    <p class="con-h">Comfort at home</p>
                    <p class="con-p">Just tell us what you need to be done and we connect you to the qualified Providers availble to help</p>
                </div>
            </div>
            <div class="f3">
                <div class="img">
                    <img src="why-graphics/3.png" alt="" width="80px">
                </div>
                <div class="con">                
                    <p class="con-h">Live your life the way you want</p>
                    <p class="con-p">We help you to live smarter, giving you more time to focus on what's important</p>
                </div>
            </div>
            <div class="f4">
                <div class="img">
                    <img src="why-graphics/4.png" alt="" width="80px">
                </div>
                <div class="con">                
                    <p class="con-h">Just chill and relax</p>
                    <p class="con-p">Less you need to work, more happiness you get so click and get your work done</p>
                </div>
            </div>
            <div class="f5">
                <div class="img">
                    <img src="why-graphics/5.png" alt="" width="80px">
                </div>
                <div class="con">                
                    <p class="con-h">No more searching, all services under one roof</p>
                    <p class="con-p">Now the solution to all your home related problems is under the umbrella of ProAvail. Just click on website and go for it</p>
                </div>
            </div>
            <div class="f6">
                <div class="img">
                    <img src="why-graphics/6.png" alt="" width="80px">
                </div>
                <div class="con">
                    <p class="con-h">Expand your business</p>
                    <p class="con-p">Come out from small business and expand your profession on ProAvail</p>
                </div>
            </div>
        </div>
    </div>
    <div class="waw">
        <h1><span>WHO</span> are we?</h1>
        <hr width=60px; size="4px" align="center" noshade="noshade" color="#30d5c8">
        <div class="who">
            <div class="t1">
                <img src="Images/team.png" alt="" width="200px">
                <p class="tname">PRIYANKA BEDI</p>
                <p class="trole">Front End Developer</p>
            </div>
            <div class="t2">
                <img src="Images/team.png" alt="" width="200px">
                <p class="tname">SANEHA GARG</p>
                <p class="trole">Back End Developer</p>
            </div>
            <div class="t3">
                <img src="Images/team.png" alt="" width="200px">
                <p class="tname">AMISHA</p>
                <p class="trole">Front End Developer</p>
            </div>
            <div class="t4">
                <img src="Images/team.png" alt="" width="200px">
                <p class="tname">CHESHTA ARORA</p>
                <p class="trole">Back End Developer</p>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>