<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles-search-results.css">
    <title>ProAvail-SearchResults</title>
</head>
<body>

    {{>header_dashboardS}}
    <main>
        <div class="main-1">
            <h1>BEAUTY SERVICES</h1>
            <img src="services-images/beauty services.png" alt="" width="400px">
        </div>
        <hr>
        <div class="info-box">
            <img src="servicesprovided/BEAUTY SERVICES/B-1.jpg" alt="" width="80%" height="150px" class="pimg">
            <div class="bname">
                <img src="Images/user-icon.png" alt="">
                <h2><a href="">Fame Gold Wellness Parlour
                </a></h2>
            </div>
            <div class="address">
                <img src="search-results-graphics/4.png" alt="">
                <h4>CITY HEART MARKET, SCO 42, 1ST FLOOR, CHANDIGARH ROAD, Kharar - 140301 (OPPOSITE DIGI HUT)
                </h4>
            </div>
            <div class="availability">
                <img src="search-results-graphics/5.png" alt="">
                <h4>10am-8pm|Monday to Friday</h4>
            </div>
            <div class="shares">
                <img src="search-results-graphics/1.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="favorites">
                <img src="search-results-graphics/2.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="ratings">
                <img src="search-results-graphics/6.png" alt="" height="35px"><br>
                <h4>3.5</h4>
            </div>
            <div class="phone">
                <img src="search-results-graphics/3.png" alt="" width="60%">
                <h3>9871448960
                </h3>
            </div>
            <div class="sp">
                
                <h4>Beauty Services</h4>
            </div>
        </div>
        <div class="info-box">
            <img src="servicesprovided/BEAUTY SERVICES/B-3.jpg" alt="" width="80%" height="150px" class="pimg">
            <div class="bname">
                <img src="Images/user-icon.png" alt="">
                <h2><a href="">Krishn Unisex Saloon
                </a></h2>
            </div>
            <div class="address">
                <img src="search-results-graphics/4.png" alt="">
                <h4>Showrooms 101, Chandigarh Sector 34a, Chandigarh - 160022 (Piccadily Cinema)
                </h4>
            </div>
            <div class="availability">
                <img src="search-results-graphics/5.png" alt="">
                <h4>10am-8pm|Monday to Friday</h4>
            </div>
            <div class="shares">
                <img src="search-results-graphics/1.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="favorites">
                <img src="search-results-graphics/2.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="ratings">
                <img src="search-results-graphics/6.png" alt="" height="35px"><br>
                <h4>3.5</h4>
            </div>
            <div class="phone">
                <img src="search-results-graphics/3.png" alt="" width="60%">
                <h3>7947248170
                </h3>
            </div>
            <div class="sp">
                
                <h4>Beauty Services</h4>
            </div>
        </div>
        <div class="info-box">
            <img src="servicesprovided/BEAUTY SERVICES/B-4.jpg" alt="" width="80%" height="150px" class="pimg">
            <div class="bname">
                <img src="Images/user-icon.png" alt="">
                <h2><a href="">Grace Beauty Clinic
                </a></h2>
            </div>
            <div class="address">
                <img src="search-results-graphics/4.png" alt="">
                <h4>Kessar Complex, Malhar Road, Sarabha Nagar, Ludhiana - 141001
                </h4>
            </div>
            <div class="availability">
                <img src="search-results-graphics/5.png" alt="">
                <h4>10am-8pm|Monday to Friday</h4>
            </div>
            <div class="shares">
                <img src="search-results-graphics/1.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="favorites">
                <img src="search-results-graphics/2.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="ratings">
                <img src="search-results-graphics/6.png" alt="" height="35px"><br>
                <h4>3.5</h4>
            </div>
            <div class="phone">
                <img src="search-results-graphics/3.png" alt="" width="60%">
                <h3>7947241077
                </h3>
            </div>
            <div class="sp">
                
                <h4>Beauty Services</h4>
            </div>
        </div>
        <div class="info-box">
            <img src="servicesprovided/BEAUTY SERVICES/B-8.jpg" alt="" width="80%" height="150px" class="pimg">
            <div class="bname">
                <img src="Images/user-icon.png" alt="">
                <h2><a href="">Krishna Beauty Salon
                </a></h2>
            </div>
            <div class="address">
                <img src="search-results-graphics/4.png" alt="">
                <h4> Krishna Beauty Salon -Shop No-2, Near Hatta Waala Chowk, Sanaur, Patiala - 147103
                </h4>
            </div>
            <div class="availability">
                <img src="search-results-graphics/5.png" alt="">
                <h4>9am-8pm|Monday to Friday</h4>
            </div>
            <div class="shares">
                <img src="search-results-graphics/1.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="favorites">
                <img src="search-results-graphics/2.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="ratings">
                <img src="search-results-graphics/6.png" alt="" height="35px"><br>
                <h4>3.5</h4>
            </div>
            <div class="phone">
                <img src="search-results-graphics/3.png" alt="" width="60%">
                <h3>7947299076
                </h3>
            </div>
            <div class="sp">
                
                <h4>Beauty Services</h4>
            </div>
        </div>
        <div class="info-box">
            <img src="servicesprovided/BEAUTY SERVICES/B-6.jpg" alt="" width="80%" height="150px" class="pimg">
            <div class="bname">
                <img src="Images/user-icon.png" alt="">
                <h2><a href="">Promax Unisex Salon & Spa
                </a></h2>
            </div>
            <div class="address">
                <img src="search-results-graphics/4.png" alt="">
                <h4>1st Floor, 22, New Leela Bhawan, Patiala Ho, Patiala - 147001 (Near Verma Bakery,Under Flyover)
                </h4>
            </div>
            <div class="availability">
                <img src="search-results-graphics/5.png" alt="">
                <h4>10am-8pm|Monday to Friday</h4>
            </div>
            <div class="shares">
                <img src="search-results-graphics/1.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="favorites">
                <img src="search-results-graphics/2.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="ratings">
                <img src="search-results-graphics/6.png" alt="" height="35px"><br>
                <h4>3.5</h4>
            </div>
            <div class="phone">
                <img src="search-results-graphics/3.png" alt="" width="60%">
                <h3>7626967007
                </h3>
            </div>
            <div class="sp">
                
                <h4>Beauty Services</h4>
            </div>
        </div>
        <div class="info-box">
            <img src="servicesprovided/BEAUTY SERVICES/B-11.jpg" alt="" width="80%" height="150px" class="pimg">
            <div class="bname">
                <img src="Images/user-icon.png" alt="">
                <h2><a href="">Shadowz Salon N Spa
                </a></h2>
            </div>
            <div class="address">
                <img src="search-results-graphics/4.png" alt="">
                <h4>Randhawa Arcade, 2nd Floor, Patiala - 147001 (Opposite YPS School Patiala)
                </h4>
            </div>
            <div class="availability">
                <img src="search-results-graphics/5.png" alt="">
                <h4>10am-8pm|Monday to Friday</h4>
            </div>
            <div class="shares">
                <img src="search-results-graphics/1.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="favorites">
                <img src="search-results-graphics/2.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="ratings">
                <img src="search-results-graphics/6.png" alt="" height="35px"><br>
                <h4>3.5</h4>
            </div>
            <div class="phone">
                <img src="search-results-graphics/3.png" alt="" width="60%">
                <h3>7947360302
                </h3>
            </div>
            <div class="sp">
                
                <h4>Beauty Services</h4>
            </div>
        </div>
    </main>
    {{>footer}}
</body>
</html>