<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles-search-results.css">
    <title>ProAvail-SearchResults</title>
</head>
<body>

    {{>header_dashboardS}}
    <main>
        <div class="main-1">
            <h1>CARPENTER</h1>
            <img src="services-images/carpenter.png" alt="" width="400px">
        </div>
        <hr>
        <div class="info-box">
            <img src="servicesprovided/CARPENTER/C-1.jpg" alt="" width="80%" height="150px" class="pimg">
            <div class="bname">
                <img src="Images/user-icon.png" alt="">
                <h2><a href="">Manoor Carpentry Shop
                </a></h2>
            </div>
            <div class="address">
                <img src="search-results-graphics/4.png" alt="">
                <h4>#111/136A Adarsh Nagar, Prem Nagar, 40ft road, Patiala, Punjab 147001
                </h4>
            </div>
            <div class="availability">
                <img src="search-results-graphics/5.png" alt="">
                <h4>7am-8pm|Monday to Friday</h4>
            </div>
            <div class="shares">
                <img src="search-results-graphics/1.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="favorites">
                <img src="search-results-graphics/2.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="ratings">
                <img src="search-results-graphics/6.png" alt="" height="35px"><br>
                <h4>3.5</h4>
            </div>
            <div class="phone">
                <img src="search-results-graphics/3.png" alt="" width="60%">
                <h3>9876788935
                </h3>
            </div>
            <div class="sp">
                
                <h4>Carpenter
                </h4>
            </div>
        </div>
        <div class="info-box">
            <img src="servicesprovided/CARPENTER/C-4.jpg" alt="" width="80%" height="150px" class="pimg">
            <div class="bname">
                <img src="Images/user-icon.png" alt="">
                <h2><a href="">Vasdev carpenter works
                </a></h2>
            </div>
            <div class="address">
                <img src="search-results-graphics/4.png" alt="">
                <h4> Namdar Khan Rd, Arya Samaj, Patiala, Punjab 147001
                </h4>
            </div>
            <div class="availability">
                <img src="search-results-graphics/5.png" alt="">
                <h4>8am-7:30pm|Monday to Friday</h4>
            </div>
            <div class="shares">
                <img src="search-results-graphics/1.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="favorites">
                <img src="search-results-graphics/2.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="ratings">
                <img src="search-results-graphics/6.png" alt="" height="35px"><br>
                <h4>3.5</h4>
            </div>
            <div class="phone">
                <img src="search-results-graphics/3.png" alt="" width="60%">
                <h3>9815542021
                </h3>
            </div>
            <div class="sp">
                
                <h4>Carpenter
                </h4>
            </div>
        </div>
        <div class="info-box">
            <img src="servicesprovided/CARPENTER/C-2.jpg" alt="" width="80%" height="150px" class="pimg">
            <div class="bname">
                <img src="Images/user-icon.png" alt="">
                <h2><a href="">Manjit Wood Works
                </a></h2>
            </div>
            <div class="address">
                <img src="search-results-graphics/4.png" alt="">
                <h4>8CH5+5M5, Near Kholi Transport, Abushah, Sanauri Adda, Patiala, Punjab 147001
                </h4>
            </div>
            <div class="availability">
                <img src="search-results-graphics/5.png" alt="">
                <h4>9am-7pm|Monday to Friday</h4>
            </div>
            <div class="shares">
                <img src="search-results-graphics/1.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="favorites">
                <img src="search-results-graphics/2.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="ratings">
                <img src="search-results-graphics/6.png" alt="" height="35px"><br>
                <h4>3.5</h4>
            </div>
            <div class="phone">
                <img src="search-results-graphics/3.png" alt="" width="60%">
                <h3>9888166242
                </h3>
            </div>
            <div class="sp">
                
                <h4>Carpenter
                </h4>
            </div>
        </div>
        <div class="info-box">
            <img src="servicesprovided/CARPENTER/C-6.jpg" alt="" width="80%" height="150px" class="pimg">
            <div class="bname">
                <img src="Images/user-icon.png" alt="">
                <h2><a href="">Carpenters
                </a></h2>
            </div>
            <div class="address">
                <img src="search-results-graphics/4.png" alt="">
                <h4>17-B, Green City, Threekay Road, Ferozepur Rd, near Ayali Chowk, Ludhiana, Punjab 142021
                </h4>
            </div>
            <div class="availability">
                <img src="search-results-graphics/5.png" alt="">
                <h4>10am-8pm|Monday to Friday</h4>
            </div>
            <div class="shares">
                <img src="search-results-graphics/1.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="favorites">
                <img src="search-results-graphics/2.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="ratings">
                <img src="search-results-graphics/6.png" alt="" height="35px"><br>
                <h4>3.5</h4>
            </div>
            <div class="phone">
                <img src="search-results-graphics/3.png" alt="" width="60%">
                <h3>9872622200
                </h3>
            </div>
            <div class="sp">
                
                <h4>Carpenter</h4>
            </div>
        </div>
        <div class="info-box">
            <img src="servicesprovided/CARPENTER/C-3.jpg" alt="" width="80%" height="150px" class="pimg">
            <div class="bname">
                <img src="Images/user-icon.png" alt="">
                <h2><a href="">Param plumbing and carpenter service
                </a></h2>
            </div>
            <div class="address">
                <img src="search-results-graphics/4.png" alt="">
                <h4>H no. 1348 third floor, Phase 11, Sahibzada Ajit Singh Nagar, Punjab 160059
                </h4>
            </div>
            <div class="availability">
                <img src="search-results-graphics/5.png" alt="">
                <h4>10am-9pm|Monday to Friday</h4>
            </div>
            <div class="shares">
                <img src="search-results-graphics/1.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="favorites">
                <img src="search-results-graphics/2.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="ratings">
                <img src="search-results-graphics/6.png" alt="" height="35px"><br>
                <h4>3.5</h4>
            </div>
            <div class="phone">
                <img src="search-results-graphics/3.png" alt="" width="60%">
                <h3>8544807726
                </h3>
            </div>
            <div class="sp">
                
                <h4>Plumber|Carpenter
                </h4>
            </div>
        </div>
    </main>
    {{>footer}}
</body>
</html>