<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles-search-results.css">
    <title>ProAvail-SearchResults</title>
</head>
<body>

    {{>header_dashboardS}}
    <main>
        <div class="main-1">
            <h1>CLEANING & PEST CONTROL</h1>
            <img src="services-images/cleaning and pest control.png" alt="" width="400px">
        </div>
        <hr>
        <div class="info-box">
            <img src="servicesprovided/PEST CONTROL/D1.jpg" alt="" width="80%" height="150px" class="pimg">
            <div class="bname">
                <img src="Images/user-icon.png" alt="">
                <h2><a href="">ICS Pest Control Services
                </a></h2>
            </div>
            <div class="address">
                <img src="search-results-graphics/4.png" alt="">
                <h4>#6, New Lehal Colony, Lehal Colony, Patiala - 147001
                </h4>
            </div>
            <div class="availability">
                <img src="search-results-graphics/5.png" alt="">
                <h4>10am-10pm|Monday to Friday</h4>
            </div>
            <div class="shares">
                <img src="search-results-graphics/1.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="favorites">
                <img src="search-results-graphics/2.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="ratings">
                <img src="search-results-graphics/6.png" alt="" height="35px"><br>
                <h4>3.5</h4>
            </div>
            <div class="phone">
                <img src="search-results-graphics/3.png" alt="" width="60%">
                <h3>7947360435
                </h3>
            </div>
            <div class="sp">
                
                <h4>Cleaning & Pest Control
                </h4>
            </div>
        </div>
        <div class="info-box">
            <img src="servicesprovided/PEST CONTROL/D-3.jpg" alt="" width="80%" height="150px" class="pimg">
            <div class="bname">
                <img src="Images/user-icon.png" alt="">
                <h2><a href="">Grotec Pest Management
                </a></h2>
            </div>
            <div class="address">
                <img src="search-results-graphics/4.png" alt="">
                <h4>3618/2 Sirhindi Bazar, Qila Chowk, Patiala - 147001
                </h4>
            </div>
            <div class="availability">
                <img src="search-results-graphics/5.png" alt="">
                <h4>10am-10pm|Monday to Friday</h4>
            </div>
            <div class="shares">
                <img src="search-results-graphics/1.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="favorites">
                <img src="search-results-graphics/2.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="ratings">
                <img src="search-results-graphics/6.png" alt="" height="35px"><br>
                <h4>3.5</h4>
            </div>
            <div class="phone">
                <img src="search-results-graphics/3.png" alt="" width="60%">
                <h3>9855559394
                </h3>
            </div>
            <div class="sp">
                
                <h4>Cleaning & Pest Control
                </h4>
            </div>
        </div>
        <div class="info-box">
            <img src="servicesprovided/PEST CONTROL/D-5.jpg" alt="" width="80%" height="150px" class="pimg">
            <div class="bname">
                <img src="Images/user-icon.png" alt="">
                <h2><a href="">Advanced Pest Solution
                </a></h2>
            </div>
            <div class="address">
                <img src="search-results-graphics/4.png" alt="">
                <h4>Shop No. 20, Baran City, Sirhind Road, Leela Bhawan, Patiala - 147001
                </h4>
            </div>
            <div class="availability">
                <img src="search-results-graphics/5.png" alt="">
                <h4>9am-8pm|Monday to Friday</h4>
            </div>
            <div class="shares">
                <img src="search-results-graphics/1.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="favorites">
                <img src="search-results-graphics/2.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="ratings">
                <img src="search-results-graphics/6.png" alt="" height="35px"><br>
                <h4>3.5</h4>
            </div>
            <div class="phone">
                <img src="search-results-graphics/3.png" alt="" width="60%">
                <h3>9888897102
                </h3>
            </div>
            <div class="sp">
                
                <h4>Cleaning & Pest Control
                </h4>
            </div>
        </div>
        <div class="info-box">
            <img src="servicesprovided/PEST CONTROL/D-6.jpg" alt="" width="80%" height="150px" class="pimg">
            <div class="bname">
                <img src="Images/user-icon.png" alt="">
                <h2><a href="">Easy Way Pest Control
                </a></h2>
            </div>
            <div class="address">
                <img src="search-results-graphics/4.png" alt="">
                <h4>Office Number 4007 Hargobindpura, Samrala Chowk, Ludhiana - 141008
                </h4>
            </div>
            <div class="availability">
                <img src="search-results-graphics/5.png" alt="">
                <h4>9am-7pm|Monday to Friday</h4>
            </div>
            <div class="shares">
                <img src="search-results-graphics/1.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="favorites">
                <img src="search-results-graphics/2.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="ratings">
                <img src="search-results-graphics/6.png" alt="" height="35px"><br>
                <h4>3.5</h4>
            </div>
            <div class="phone">
                <img src="search-results-graphics/3.png" alt="" width="60%">
                <h3>7947241995
                </h3>
            </div>
            <div class="sp">
                
                <h4>Cleaning & Pest Control</h4>
            </div>
        </div>
        <div class="info-box">
            <img src="servicesprovided/PEST CONTROL/D-10.jpg" alt="" width="80%" height="150px" class="pimg">
            <div class="bname">
                <img src="Images/user-icon.png" alt="">
                <h2><a href="">SJ Total Pest Control Service
                </a></h2>
            </div>
            <div class="address">
                <img src="search-results-graphics/4.png" alt="">
                <h4> 687, Burail, Burail Village, Sector 45, Chandigarh, 160047
                </h4>
            </div>
            <div class="availability">
                <img src="search-results-graphics/5.png" alt="">
                <h4>10am-98pm|Monday to Friday</h4>
            </div>
            <div class="shares">
                <img src="search-results-graphics/1.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="favorites">
                <img src="search-results-graphics/2.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="ratings">
                <img src="search-results-graphics/6.png" alt="" height="35px"><br>
                <h4>3.5</h4>
            </div>
            <div class="phone">
                <img src="search-results-graphics/3.png" alt="" width="60%">
                <h3>6280563410
                </h3>
            </div>
            <div class="sp">
                
                <h4>Cleaning & Pest Control
                </h4>
            </div>
        </div>
    </main>
    {{>footer}}
</body>
</html>