<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles-dashboard-seeker.css">
    <title>ProAvail-Home</title>
</head>
<body>
    {{>header_dashboardS}}
    <div class="background">
        <img src="Images/background-image.png" alt="background" width="650px">
        <div class="content">
            <h1>Why Fix It Yourself?</h1>
            <h2>Leave It To The Pros</h2>
        </div>
    </div>
    
    <div class="home-services">
        <section class="services">
            <div class="s1">
                <a href="/electrician"><img src="services/1.png" alt="electrician"></a>
                <p>Electrician</p>
            </div>
            <div class="s2">
                <a href="/plumber"><img src="services/2.png" alt="electrician"></a>
                <p>Plumber</p>
            </div>
            <div class="s3">
                <a href="/carpenter"><img src="services/3.png" alt="electrician"></a>
                <p>Carpenter</p>
            </div>
            <div class="s4">
                <a href="/homepainting"><img src="services/4.png" alt="electrician"></a>
                <p>Home Painting</p>
            </div>
            <div class="s5">
                <img src="services/5.png" alt="electrician">
                <p>Cleaning & Pest Control</p>
                <div class="sub-options-s5">
                    <div class="triangle-s5">
        
                    </div>
                    <div class="subnav">
                        <a href="/cleaning">Full Home</a><br><hr color="#194747">
                        <a href="/cleaning">Bathroom</a><br><hr color="#194747">
                        <a href="/cleaning">Kitchen</a><br><hr color="#194747">
                        <a href="/cleaning">Sofa & Carpet</a><br><hr color="#194747">
                        <a href="/cleaning">Curtain</a><br>
                    </div>
                </div>
            </div>
            <div class="s6">
                <img src="services/6.png" alt="electrician">
                <p>Appliance Repair</p>
                <div class="sub-options-s6">
                    <div class="triangle-s6">
        
                    </div>
                    <div class="subnav">
                        <a href="/appliancerepair">AC Service & Repair</a><br><hr color="#194747">
                        <a href="/appliancerepair">Chimney Repair</a><br><hr color="#194747">
                        <a href="/appliancerepair">Geyser</a><br><hr color="#194747">
                        <a href="/appliancerepair">Microwave</a><br><hr color="#194747">
                        <a href="/appliancerepair">Refridgerator</a><br><hr color="#194747">
                        <a href="/appliancerepair">Washing Machine</a><br><hr color="#194747">
                        <a href="/appliancerepair">Water Purifier Service</a><br>
                    </div>
                </div>
            </div>
            <div class="s7">
                <a href="/blacksmith"><img src="services/7.png" alt="electrician"></a>
                <p>Blacksmith</p>
            </div>
            <div class="s8">
                <a href="/glassrepair"><img src="services/8.png" alt="electrician"></a>
                <p>Glass Repair</p>
            </div>
            <div class="s9">
                <a href="/technicians"><img src="services/9.png" alt="electrician"></a>
                <p>Technicians</p>
            </div>
            <div class="s10">
                <a href="/movers"><img src="services/10.png" alt="electrician"></a>
                <p>Movers & Packers</p>
            </div>
            <div class="s11">
                <a href="/gardener"><img src="services/11.png" alt="electrician"></a>
                <p>Gardener</p>
            </div>
            <div class="s12">
                <a href="/laundry"><img src="services/12.png" alt="electrician"></a>
                <p>Laundry</p>
            </div>
            <div class="s13">
                <img src="services/13.png" alt="electrician">
                <p>Beauty Services</p>
                <div class="sub-options-s13">
                    <div class="triangle-s13">
        
                    </div>
                    <div class="subnav">
                        <a href="/beautyservices">Male</a><br><hr color="#194747">
                        <a href="/beautyservices">Female</a><br>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {{>footer}}
</body>
</html> 
    