<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles-search-results.css">
    <title>ProAvail-SearchResults</title>
</head>
<body>
    {{>header_dashboardS}}
    <main>
        <div class="main-1">
            <h1>GARDENER</h1>
            <img src="servicesprovided/GARDENERS/R-10.jpg" alt="" width="500px" height="300px">
        </div>
        <hr>
        <div class="info-box">
            <img src="servicesprovided/GARDENERS/R-2.jpg" alt="" width="80%" height="150px" class="pimg">
            <div class="bname">
                <img src="Images/user-icon.png" alt="">
                <h2><a href="">Beag Farms</a></h2>
            </div>
            <div class="address">
                <img src="search-results-graphics/4.png" alt="">
                <h4>Office No-B 37/431, Toba Baba, Patiala HO, Patiala - 147001 (Near Anardana Chowk Patiala)
                </h4>
            </div>
            <div class="availability">
                <img src="search-results-graphics/5.png" alt="">
                <h4>9am-8pm|Monday to Friday</h4>
            </div>
            <div class="shares">
                <img src="search-results-graphics/1.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="favorites">
                <img src="search-results-graphics/2.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="ratings">
                <img src="search-results-graphics/6.png" alt="" height="35px"><br>
                <h4>3.5</h4>
            </div>
            <div class="phone">
                <img src="search-results-graphics/3.png" alt="" width="60%">
                <h3>7947132297</h3>
            </div>
            <div class="sp">
                
                <h4>Gardener</h4>
            </div>
        </div>
        <div class="info-box">
            <img src="servicesprovided/GARDENERS/R-11.jpg" alt="" width="80%" height="150px" class="pimg">
            <div class="bname">
                <img src="Images/user-icon.png" alt="">
                <h2><a href="">Golden Foliage  </a></h2>
            </div>
            <div class="address">
                <img src="search-results-graphics/4.png" alt="">
                <h4>B 29, Ground Floor, Janta Colony, Shivaji Vihar, Rajouri Garden, Delhi - 110027</h4>
            </div>
            <div class="availability">
                <img src="search-results-graphics/5.png" alt="">
                <h4>10am-7pm|Monday-Friday</h4>
            </div>
            <div class="shares">
                <img src="search-results-graphics/1.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="favorites">
                <img src="search-results-graphics/2.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="ratings">
                <img src="search-results-graphics/6.png" alt="" height="35px"><br>
                <h4>3.5</h4>
            </div>
            <div class="phone">
                <img src="search-results-graphics/3.png" alt="" width="60%">
                <h3>7947215920 </h3>
            </div>
            <div class="sp">
                
                <h4>Gardener</h4>
            </div>
        </div>
        <div class="info-box">
            <img src="servicesprovided/GARDENERS/R-4.jpg" alt="" width="80%" height="150px" class="pimg">
            <div class="bname">
                <img src="Images/user-icon.png" alt="">
                <h2><a href="">BotaniKa The Nursery</a></h2>
            </div>
            <div class="address">
                <img src="search-results-graphics/4.png" alt="">
                <h4>Birmi Road, South City, Ludhiana - 142027 (Near Tagore Public School)
                </h4>
            </div>
            <div class="availability">
                <img src="search-results-graphics/5.png" alt="">
                <h4>9am -6pm|Monday to Friday</h4>
            </div>
            <div class="shares">
                <img src="search-results-graphics/1.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="favorites">
                <img src="search-results-graphics/2.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="ratings">
                <img src="search-results-graphics/6.png" alt="" height="35px"><br>
                <h4>3.5</h4>
            </div>
            <div class="phone">
                <img src="search-results-graphics/3.png" alt="" width="60%">
                <h3>7947059850</h3>
            </div>
            <div class="sp">
                
                <h4>Gardener</h4>
            </div>
        </div>
        <div class="info-box">
            <img src="servicesprovided/GARDENERS/R-5.jpg" alt="" width="80%" height="150px" class="pimg">
            <div class="bname">
                <img src="Images/user-icon.png" alt="">
                <h2><a href="">Krishna Nursery</a></h2>
            </div>
            <div class="address">
                <img src="search-results-graphics/4.png" alt="">
                <h4>Pakhowal raod, blessings resort, ghanpati marbal, opp. DAV school, Ludhiana, Punjab 141013
                </h4>
            </div>
            <div class="availability">
                <img src="search-results-graphics/5.png" alt="">
                <h4>9am-5pm
                    |Monday to Friday</h4>
            </div>
            <div class="shares">
                <img src="search-results-graphics/1.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="favorites">
                <img src="search-results-graphics/2.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="ratings">
                <img src="search-results-graphics/6.png" alt="" height="35px"><br>
                <h4>3.5</h4>
            </div>
            <div class="phone">
                <img src="search-results-graphics/3.png" alt="" width="60%">
                <h3>9463656490
                </h3>
            </div>
            <div class="sp">
                
                <h4>Gardener</h4>
            </div>
        </div>
        <div class="info-box">
            <img src="servicesprovided/GARDENERS/R-9.jpg" alt="" width="80%" height="150px" class="pimg">
            <div class="bname">
                <img src="Images/user-icon.png" alt="">
                <h2><a href="">Gourmeca greens
                </a></h2>
            </div>
            <div class="address">
                <img src="search-results-graphics/4.png" alt="">
                <h4>Skill development center, PAU, Ludhiana, Punjab 141001
                </h4>
            </div>
            <div class="availability">
                <img src="search-results-graphics/5.png" alt="">
                <h4>9am-5pm
                    |Monday to Friday</h4>
            </div>
            <div class="shares">
                <img src="search-results-graphics/1.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="favorites">
                <img src="search-results-graphics/2.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="ratings">
                <img src="search-results-graphics/6.png" alt="" height="35px"><br>
                <h4>3.5</h4>
            </div>
            <div class="phone">
                <img src="search-results-graphics/3.png" alt="" width="60%">
                <h3>8728878992
                </h3>
            </div>
            <div class="sp">
                
                <h4>Gardener</h4>
            </div>
        </div>
    </main>
    {{>footer}}
</body>
</html> 
    