<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css\style.css">
    <title>ProAvail-Home</title>
</head>
<body>
   
    {{>header}}
    <div class="background">
        <img src="Images/background-image.png" alt="background" width="650px">
        <div class="content">
            <h1>Why Fix It Yourself?</h1>
            <h2>Leave It To The Pros</h2>
            <a href="/signup">GET STARTED</a>
        </div>
    </div>   
    <div class="home-services">
        <h1>HOME SERVICES</h1>
        <hr width=60px; size="4px" align="center" noshade="noshade" color="#30d5c8">
        <section class="services">
            <div class="s1">
                <a href="/login"><img src="services/1.png" alt="electrician"></a>
                <p>Electrician</p>
            </div>
            <div class="s2">
                <a href="/login"><img src="services/2.png" alt="electrician"></a>
                <p>Plumber</p>
            </div>
            <div class="s3">
                <a href="/login"><img src="services/3.png" alt="electrician"></a>
                <p>Carpenter</p>
            </div>
            <div class="s4">
                <a href="/login"><img src="services/4.png" alt="electrician"></a>
                <p>Home Painting</p>
            </div>
            <div class="s5">
                <img src="services/5.png" alt="electrician">
                <p>Cleaning & Pest Control</p>
                <div class="sub-options-s5">
                    <div class="triangle-s5">
        
                    </div>
                    <div class="subnav">
                        <a href="/login">Full Home</a><br><hr color="#194747">
                        <a href="/login">Bathroom</a><br><hr color="#194747">
                        <a href="/login">Kitchen</a><br><hr color="#194747">
                        <a href="/login">Sofa & Carpet</a><br><hr color="#194747">
                        <a href="/login">Curtain</a><br>
                    </div>
                </div>
            </div>
            <div class="s6">
                <img src="services/6.png" alt="electrician">
                <p>Appliance Repair</p>
                <div class="sub-options-s6">
                    <div class="triangle-s6">
        
                    </div>
                    <div class="subnav">
                        <a href="/login">AC Service & Repair</a><br><hr color="#194747">
                        <a href="/login">Chimney Repair</a><br><hr color="#194747">
                        <a href="/login">Geyser</a><br><hr color="#194747">
                        <a href="/login">Microwave</a><br><hr color="#194747">
                        <a href="/login">Refridgerator</a><br><hr color="#194747">
                        <a href="/login">Washing Machine</a><br><hr color="#194747">
                        <a href="/login">Water Purifier Service</a><br>
                    </div>
                </div>
            </div>
            <div class="s7">
                <a href="/login"><img src="services/7.png" alt="electrician"></a>
                <p>Blacksmith</p>
            </div>
            <div class="s8">
                <a href="/login"><img src="services/8.png" alt="electrician"></a>
                <p>Glass Repair</p>
            </div>
            <div class="s9">
                <a href=/login"><img src="services/9.png" alt="electrician"></a>
                <p>Technicians</p>
            </div>
            <div class="s10">
                <a href="/"><img src="services/10.png" alt="electrician"></a>
                <p>Movers & Packers</p>
            </div>
            <div class="s11">
                <a href="/login"><img src="services/11.png" alt="electrician"></a>
                <p>Gardener</p>
            </div>
            <div class="s12">
                <a href="/login"><img src="services/12.png" alt="electrician"></a>
                <p>Laundry</p>
            </div>
            <div class="s13">
                <img src="services/13.png" alt="electrician">
                <p>Beauty Services</p>
                <div class="sub-options-s13">
                    <div class="triangle-s13">
        
                    </div>
                    <div class="subnav">
                        <a href="/login">Male</a><br><hr color="#194747">
                        <a href="/login">Female</a><br>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <div class="hiw">
        <h1>HOW IT WORKS</h1>
        <hr width=60px; size="4px" align="center" noshade="noshade" color="#dcc7aa">
        <div class="how-it-works">
            <img src="how-it-works-graphics/1.png" alt="" class="i1">
            <img src="Images/connect-line.png" alt="" class="i2">
            <img src="how-it-works-graphics/2.png" alt="" class="i3">
            <img src="Images/connect-line.png" alt="" class="i4">
            <img src="how-it-works-graphics/3.png" alt="" class="i5">
            <div class="explore">
                <h5>EXPLORE</h5>
                <p>Explore the services available on our website</p>
            </div>
            <div class="connect">
                <h5>CONNECT</h5>
                <p>Initiate your service by contecting the professionals</p>
            </div>
            <div class="relax">
                <h5>RELAX</h5>
                <p>You chill while we process it</p>
            </div>
        </div>
    </div>  
    <div class="gs">
        <h1>READY TO GET STARTED?</h1>
        <hr width=60px; size="4px" align="center" noshade="noshade" color="#30d5c8">
            <div class="get-started">
            <section class="sec1">
                <img src="get-started-graphics/1.png" alt="">
                <p class="nh">To avail the home services, sign up as</p>
                <p class="h">SEEKER</p>
                <a href="/signupS"> SIGN UP</a>   
            </section>
            <section class="sec2">
                <img src="get-started-graphics/2.png" alt="">
                <p class="nh">To expand your business & reach out, sign up as</p>
                <p class="h">PROVIDER</p>
                <a href="/signupP"> SIGN UP</a>   
            </section>
        </div>
    </div>
    {{>footer}}
</body>
</html>