<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProAvail-LogIn</title>
    <link rel="stylesheet" href="css/styles-log-in.css">
</head>
<body>
    {{>header_login}}
    <img src="Images/sign-up-background.png" alt="" width="100%" class="background">
    <main>
        <div class="get-started">
            <section class="sec1">
                <img src="Images/1.png" alt="" width="150px">
                <p class="nh">To avail the home services,<br> log in as</p>
                <p class="h">SEEKER</p>
                <a href="/loginS" class="login-a"> LOG IN</a>   
            </section>
            <section class="sec2">
                <img src="Images/2.png" alt="" width="150px">
                <p class="nh">To expand your business & reach out,<br> log in as</p>
                <p class="h">PROVIDER</p>
                <a href="/loginP" class="login-a"> LOG IN</a>   
            </section>
            <a href="/signup" class="signup">Don't have an account? SIGN UP</a>
        </div>
        
    </main>
    {{>footer}}
</body>
</html>