<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles-search-results.css">
    <title>ProAvail-SearchResults</title>
</head>
<body>

    {{>header_dashboardS}}
    <main>
        <div class="main-1">
            <h1>MOVERS & PACKERS</h1>
            <img src="services-images/movers & packers.png" alt="" width="400px">
        </div>
        <hr>
        <div class="info-box">
            <img src="servicesprovided/PACKERS AND MOVERS/M-1.jpg" alt="" width="80%" height="150px" class="pimg">
            <div class="bname">
                <img src="Images/user-icon.png" alt="">
                <h2><a href="">Sandhu Express Logistics
                </a></h2>
            </div>
            <div class="address">
                <img src="search-results-graphics/4.png" alt="">
                <h4>Shop No-02, Opposite 234, Army Engineer Gate, Air Avenue Colony, Patiala - 147001
                </h4>
            </div>
            <div class="availability">
                <img src="search-results-graphics/5.png" alt="">
                <h4>9am-8pm|Monday to Friday</h4>
            </div>
            <div class="shares">
                <img src="search-results-graphics/1.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="favorites">
                <img src="search-results-graphics/2.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="ratings">
                <img src="search-results-graphics/6.png" alt="" height="35px"><br>
                <h4>3.5</h4>
            </div>
            <div class="phone">
                <img src="search-results-graphics/3.png" alt="" width="60%">
                <h3>7947360214
                </h3>
            </div>
            <div class="sp">
                
                <h4>Movers & Packers</h4>
            </div>
        </div>
        <div class="info-box">
            <img src="servicesprovided/PACKERS AND MOVERS/M-7.jpg" alt="" width="80%" height="150px" class="pimg">
            <div class="bname">
                <img src="Images/user-icon.png" alt="">
                <h2><a href="">Eagle Relocation India
                </a></h2>
            </div>
            <div class="address">
                <img src="search-results-graphics/4.png" alt="">
                <h4>Plot No 25, Urban Estate, Srihind Road, Urban Estate, Patiala - 147002 (Phase 2)
                </h4>
            </div>
            <div class="availability">
                <img src="search-results-graphics/5.png" alt="">
                <h4>10am-10pm|Monday to Friday</h4>
            </div>
            <div class="shares">
                <img src="search-results-graphics/1.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="favorites">
                <img src="search-results-graphics/2.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="ratings">
                <img src="search-results-graphics/6.png" alt="" height="35px"><br>
                <h4>3.5</h4>
            </div>
            <div class="phone">
                <img src="search-results-graphics/3.png" alt="" width="60%">
                <h3>7947160151
                </h3>
            </div>
            <div class="sp">
                
                <h4>Movers & Packers</h4>
            </div>
        </div>
        <div class="info-box">
            <img src="servicesprovided/PACKERS AND MOVERS/M-9.jpeg" alt="" width="80%" height="150px" class="pimg">
            <div class="bname">
                <img src="Images/user-icon.png" alt="">
                <h2><a href="">Agarwal Packers and Movers
                </a></h2>
            </div>
            <div class="address">
                <img src="search-results-graphics/4.png" alt="">
                <h4>Shop No. 23, Leela Bhawan Market Complex, Leela Bhawan, Patiala - 147001
                </h4>
            </div>
            <div class="availability">
                <img src="search-results-graphics/5.png" alt="">
                <h4>9am-10pm|Monday to Friday</h4>
            </div>
            <div class="shares">
                <img src="search-results-graphics/1.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="favorites">
                <img src="search-results-graphics/2.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="ratings">
                <img src="search-results-graphics/6.png" alt="" height="35px"><br>
                <h4>3.5</h4>
            </div>
            <div class="phone">
                <img src="search-results-graphics/3.png" alt="" width="60%">
                <h3>7947463852
                </h3>
            </div>
            <div class="sp">
                
                <h4>Movers & Packers</h4>
            </div>
        </div>
        <div class="info-box">
            <img src="servicesprovided/PACKERS AND MOVERS/M-11.jpg" alt="" width="80%" height="150px" class="pimg">
            <div class="bname">
                <img src="Images/user-icon.png" alt="">
                <h2><a href="">J.D Packers and Movers
                </a></h2>
            </div>
            <div class="address">
                <img src="search-results-graphics/4.png" alt="">
                <h4>Plot No. 20, Kishanpura Road, Bhagwanpura, Mani Majra, Chandigarh - 160101
                </h4>
            </div>
            <div class="availability">
                <img src="search-results-graphics/5.png" alt="">
                <h4>10am-9pm|Monday to Friday</h4>
            </div>
            <div class="shares">
                <img src="search-results-graphics/1.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="favorites">
                <img src="search-results-graphics/2.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="ratings">
                <img src="search-results-graphics/6.png" alt="" height="35px"><br>
                <h4>3.5</h4>
            </div>
            <div class="phone">
                <img src="search-results-graphics/3.png" alt="" width="60%">
                <h3>7947466583
                </h3>
            </div>
            <div class="sp">
                
                <h4>Movers & Packers</h4>
            </div>
        </div>
        <div class="info-box">
            <img src="servicesprovided/PACKERS AND MOVERS/M-13.jpg" alt="" width="80%" height="150px" class="pimg">
            <div class="bname">
                <img src="Images/user-icon.png" alt="">
                <h2><a href="">Gati Express Movers and Packers
                </a></h2>
            </div>
            <div class="address">
                <img src="search-results-graphics/4.png" alt="">
                <h4>B-23/2818R, Transport Nagar, Ludhiana - 141010 (Opposite Goodwill Dharam Kanda)
                </h4>
            </div>
            <div class="availability">
                <img src="search-results-graphics/5.png" alt="">
                <h4>10am-8pm|Monday to Friday</h4>
            </div>
            <div class="shares">
                <img src="search-results-graphics/1.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="favorites">
                <img src="search-results-graphics/2.png" alt="" width="60%">
                <h4>35</h4>
            </div>
            <div class="ratings">
                <img src="search-results-graphics/6.png" alt="" height="35px"><br>
                <h4>3.5</h4>
            </div>
            <div class="phone">
                <img src="search-results-graphics/3.png" alt="" width="60%">
                <h3>7947396798
                </h3>
            </div>
            <div class="sp">
                
                <h4>Movers & Packers</h4>
            </div>
        </div>
    </main>
    {{>footer}}
</body>
</html>