<footer>
    <a href="/index"><img src="Images/logo.png" alt="logo" width="210px"  class="flogo"></a>
    <p class="fcontent">Our website provides a platform that helps customer to connect to various required services by just sitting at the comfort of their home</p>
    <div class="nav2">
        <a href="/about">ABOUT US</a> 
        <br>
        <a href="/help">HELP</a>
    </div>
    <div class="contact">
        <p class="main">CONTACT US</p>
        <p>8793658292</p>
        <p>proavail161@gmail.com</p>
    </div>
    <div class="bottom">
        <p>Copyright &#169; 2023 - Developed by SPAC</p>
        <a href=""><img src="footer-graphics/facebook.png" alt="" width="20px" class="sm2"></a>
        <a href=""><img src="footer-graphics/instagram.png" alt="" width="20px" class="sm"></a>
        <a href=""><img src="footer-graphics/linkedin.png" alt="" width="20px" class="sm"></a>
    </div>
</footer>