<header>
    <a href="/index" class="logo"><img src="Images/logo.png" alt="logo" width="120px"></a>
    <a href="/index" class="nav">HOME</a>
    <a href="/help" class="nav">HELP</a>
    <a href="/about" class="nav">ABOUT US</a>        
</header>