<header>
    <a href="/index" class="logo"><img src="Images/logo.png" alt="logo" width="120px"></a>
    <div class="minnav-w">
        <span><img src="Images/user-icon.png" alt="" class="nav" width="25px"></span>
        <div class="minnav">
            <div class="tri"></div>
            <div class="tags">
                <a href="/profileS">View Profile</a><hr color="#194747">
                <a href="/index">Sign Out</a>
            </div>
        </div>
    </div>
    <a href="/dashboardS" class="nav">HOME</a>
    <a href="/help" class="nav">HELP</a>
    <a href="/about" class="nav">ABOUT US</a>        
</header>